<div>
  <ol class="apps-container" ui-sortable="sortableOptionsOuter" ng-model="ngModelItem.exercise_items">
    <li class="innerCont" ng-repeat="exercise_item in ngModelItem.exercise_items" ng-hide="exercise_item._destroy">
	  <span class="handle"><i class="fa fa-bars"></i></span>
    	<input class="text-field" ng-class="drill.drill.options.rtl=='1' ? 'rtl' : ''" type="text" ng-model="exercise_item.text" placeholder="Sortable" >
    	<a href="#"  tabindex="-1"  ng-click="delete($index, ngModelItem.position)"><i class="fa fa-times remove-item"></i></a>
    </li>
  </ol>
  <button type="button" ng-click="add_new_exercise_item(ngModelItem)" class="btn btn-default new-exercise-item">Add New Exercise Item</button>
</div>
