<li class="fill-drill-exercise">
  <%= audio_tag(exercise.audio_url, :preload => true, :controls => true) unless exercise.audio_url.blank? %>
  <%= image_tag(exercise.image_url(:small)) unless exercise.image_url.blank? %>
  <%= create_fill_drill_exercise(exercise).html_safe %>
  <span class="hint"><%= exercise.hint %></span>
</li>
