<li class="fill-drill-exercise">
  <span class="prompt-section">
    <%= graded_html_for_fill_drill(exercise,attempt.responses).html_safe %>
  </span>
  <span class="hint">
    <%= exercise.hint %>
  </span>
</li>
