<li class="fill-drill-exercise">
  <span class="prompt-section">
    <%= graded_fill_drill_exercise(exercise, @attempt.responses).html_safe
 %>
   </span>
  <span class="hint">
    <%= exercise.hint %>
  </span>
</li>
