<div id="profile">
  <%= content_tag :h3, @user.email.to_s + ((" \(" + @user.eid + "\)") if @user.eid.present?).to_s  %>
</div>

<div id="courses">
  <% @user.courses.uniq.each do |course| %>
    <%= render :partial => "users/courses", locals: {:course => course } %>
  <% end -%>
</div> <!-- #courses -->
