<tr>
  <td><%= link_to drill.title + " (" + drill.type_abbr + ") " , drill_path(drill), :title => "View" %></td>

  <td>
    <% if can? :create, Attempt %>
      <%= link_to t('.attempt', :default => t("helpers.links.attempt")), new_drill_attempt_path(drill), :class => 'btn btn-mini', :title => "Attempt"  %>
    <% end %>

    <% if can? :update, drill %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_drill_path(drill), :class => 'btn btn-mini', :title => "Edit" %>
    <% end %>
    
    <% if can? :destroy, drill %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                drill_path(drill),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger',
                :title => "Remove" %>
    <% end %>
  </td>
</tr>