<li>
  <% if can? :read, user %>
  	<%= content_tag :span, user.email %>
	<% end %>
	<% if can? :update, @course %>
		<%= link_to "User Page", user_url(user) if user.present? %>
	<% end -%> 
	
	<% if can? :manage, @course %> 
    <%= link_to icon("times"), role_path(role), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
	<% end -%>
</li>