<%= content_tag :h3, drill.title if is_unit %>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Number of Attempts</th>
      <th>Best Score</th>
      <th>(date)</th>      
      <th>Worst Score</th>
      <th>(date)</th>    
      <th>Average Score</th>
    </tr>
  </thead>
  <tbody>
    <% if attempters %>
      <% attempters.uniq.each do |attempter| %>
        <% unless attempter.roles.is_learner(attempter).in_course(drill.course).empty? %>
          <%= render partial: 'shared/attempter_performance', :locals => {:drill => drill, :attempter => attempter} %>
        <% end -%>
      <% end -%>
    <% end -%>
  </tbody>
</table>