<%= content_tag :h3, drill.title if is_unit %>
<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Number of Attempts</th>
      <th>Best Score</th>
      <th>(date)</th>      
      <th>Worst Score</th>
      <th>(date)</th>    
      <th>Average Score</th>
    </tr>
  </thead>
  <tbody>
    <% if attempters %>
      <%= render partial: 'shared/attempter_performance', collection: attempters.uniq, as: :attempter, :locals => {:drill => drill} %>
    <% end -%>
  </tbody>
</table>