<h1>Complete Canvas Course Duplication</h1>

<button class="duplicate-canvas-course" data-parent-section-id="<%= parent_section_id %>"  data-canvas-course-id="<%= canvas_course_id %>" data-lti-course-id="<%= lti_course_id %>" data-parent-canvas-course-id="<%= parent_canvas_course_id %>">Complete
</button>