<h3>Message:</h3>
<p>
<%= @message %>
</p>

<h3>Context</h3>
<ul>
<% if ( @context.respond_to? :each ) %>
  <% @context.each do |k, v| %>
    <li><%=   k.to_s + ": "  %></li>
    <li><%=   v.to_json %></li>
  <% end %>

<% else %>
  <li>
    <%= @context.to_s  %>
  </li>
<% end %>
</ul>
