  <div class="control-group">
    <label class="control-label" for="drill_lesson">Lesson</label>
    <div class="controls">    
      <select name="lesson">
        <option value="<%= @drill.lesson.title if @drill.lesson %>">
          <%= @drill.lesson ? @drill.lesson.title : "" %>
        </option>
        <% if @drill.lesson %>
          <% @drill.lesson.course.lessons.each do |l| %>
            <option value="<%= l.title %>">
              <%= l.title %>
            </option>
          <% end %>
        <% end %>
<!--         <option value="Create new lesson">
          Create new lesson
        </option>   -->      
      </select>
    </div>
  </div>