  <table class="table table-striped">  
    <thead>
      <tr>  
        <th><%= f.text_field :title, :class => 'table-title' %><th>
        <% f.fields_for :headers do |builder| %>
          <%= render 'header_fields', :f => builder %>
        <% end %>

      </tr>      
    </thead>  
    <tbody>
      <tr>

      </tr>  
      <tr>  
        <td>001</td>  
        <td>Rammohan </td>  
        <td>Reddy</td>  
        <td>A+</td>  
      </tr>  
      <tr>  
        <td>002</td>  
        <td>Smita</td>  
        <td>Pallod</td>  
        <td>A</td>  
      </tr>  
      <tr>  
        <td>003</td>  
        <td>Rabindranath</td>  
        <td>Sen</td>  
        <td>A+</td>  
      </tr>  
    </tbody>  
  </table> 