  <div class="control-group">
    <label class="control-label" for="drill_lesson">Lesson</label>
    <div class="controls">    
      <select name="lesson">
        <% Lesson.all.sort_by(&:position).each do |l| %>
          <option value="<%= l.title %>" <%= (@drill.lesson && (l.title == @drill.lesson.title)) ? 'selected=selected' : '' %> >
            <%= l.title %>
          </option>
        <% end %>
        <% unless @drill.lesson %>
          <option value="" selected="selected">
          </option>
        <% end %>       
      </select>
    </div>
  </div>