<div ng-app="dragDrillApp">
  <div ng-controller="DragDrillCtrl">

    <ul>
      {{drill.title}}
      {{drill.id}}

      <li ng-repeat="exercise in drill.exercises">
        {{exercise.prompt}}
        <ul>
          <li ng-repeat="exercise_item in exercise.exercise_items">
            {{exercise_item.}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>