<div ng-app="dragDrillApp" id="drag-drill-container">
  <div ng-controller="DragDrillCtrl">
    <gen-dynamic-directive ng-model="drill.drill" gen-get-dynamic-view="getView">
    </gen-dynamic-directive>
    <a class="inside" href=""></a>
  </div>
</div>