<%- model_class = Course -%>
<div>
  <h5><strong><%= model_class.human_attribute_name(:course) %>:</strong>  <%= @course.title %></h5>
  <p></p>
  <% Role::ROLES.each do |role| %>
    <h5><strong><%= role.pluralize %>:</strong></h5>
    <ul class="user-group">
      <% @course.users.where(:role => role).uniq.each do |user| %>
        <% current_role = Role.find_by_course_id_and_user_id(@course.id, user.id) %>
        <%= render partial: 'shared/list_of_users', locals: { user: user, :role => current_role } -%>
      <% end -%>
    </ul>
  <% end %>
</div>

