// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.the_blank {
  background-color: #d5e6e3;
  margin: 5px;
}
.hint {
  background-color: #fcd4e7;
}
.fill-drill-prompt {
  // line-height: 40px;
}