<div ng-app="dragDrillAttemptApp" id="drag-drill-attempt-container">
  <div ng-controller="DragDrillAttemptCtrl">
    <gen-dynamic-directive ng-model="drill.drill" gen-get-dynamic-view="getView">
    </gen-dynamic-directive>
    <a class="inside" href=""></a>
  </div>
</div>
