<tr>
  <th scope="row"><%= exercise.prompt.html_safe || "&nbsp;" %></th>
  
  <% exercise.exercise_items.sort_by(&:position).each do |item| %>
    <td><p><%= item.content[:text] %></p></td>
  <% end %>

</tr>
