 <th class="cell" id="cell-c<%= f.object.column %>-r0" >
  <%= f.text_field :title, :class => 'text_field' %>
  <span class="remove-column"><%= link_to ' <i class="icon-remove"></i> '.html_safe , controller: "drills", action: "remove_column", header_id: f.object.id %></span>
</th>
