<th class="cell" id="cell-c<%= f.object.column %>-r0" >
  <%= f.text_field :title, :class => 'text-field' %>
  <%= f.hidden_field :position, value: nested_child_index(f) %>
  <span class="remove-column">
    <%= link_to icon('remove', 'white'), controller: "drills", action: "remove_column", header_id: f.object.id %>
  </span>

</th>
