<tr>
  <th scope="row"><%= exercise.prompt.html_safe || "&nbsp;" %></th>
  
  <% exercise.exercise_items.sort_by(&:position).each do |item| %>
    <td><%= content_tag(:p, item.content[:text]) %><%= content_tag(:p, item.content[:audio]) %></td>
  <% end %>
</tr>
